<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">분산 및 병렬처리</a>

    </div>
</nav>
<div class="main-container">
    <form action="/result" method="GET">
        <div>
            <button type="submit" class="btn btn-outline-dark pc" value="1" name="num"><h1>PC1</h1></button>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-dark pc" value="2" name="num"><h1>PC2</h1></button>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-dark pc" value="4" name="num"><h1>PC4</h1></button>
        </div>
         <div>
            <button type="submit" class="btn btn-outline-dark pc" value="0" name="num"><h1>초기화</h1></button>
        </div>
    </form>
</div>
</body>
<style>
    body {
        background-color: #EFF5F5;
        font-family: "Roboto", helvetica, arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
    }

    .main-container {
        display: flex;
        justify-content : center;
    }

    .pc {
        width: 480px;
        height: 250px;
        margin: 10px;

    }
</style>
</html>